---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import list from "../assets/list.svg";
import gear from "../assets/gear-fine.svg";
import self from "../assets/self.svg";
import handtapblack from "../assets/hand-tap-black.svg";
import bag from "../assets/shopping-bag.svg";
import star from "../assets/shooting-star.svg";
import globe from "../assets/globe.svg";
import flag from "../assets/usa.svg";

const images = [
  { image: gear, title: "Automatic" },
  { image: self, title: "Self-Service" },
  { image: bag, title: "Purchase History" },
  { image: star, title: "Rewards" },
];
---

<header
  class="flex items-center justify-between px-[24px] py-[12px] sm:space-x-4 w-full "
>
  <div class="flex items-center gap-[20px]">
    <span class="block cursor-pointer lg:hidden" id="nav-bar">
      <Image src={list} format="svg" alt={""} loading="lazy" id="icon" />
    </span>
    <span class="cursor-pointer flex items-center gap-[8px]">
      <Image src={logo} format="svg" alt={""} loading="lazy" />
      <span class="font-bold hidden lg:block">Washbuddy</span>
    </span>
    <span
      class="hidden items-center border border-[#E5E7E8] px-[12px] py-[8px] rounded-[1000px] text-sm font-semibold gap-[4px] h-[36px] cursor-pointer lg:flex"
    >
      <Image src={gear} format="svg" alt={""} loading="lazy" />
      Automatic
    </span>
    <span
      class="hidden items-center border border-[#E5E7E8] px-[12px] py-[8px] rounded-[1000px] text-sm font-semibold gap-[4px] h-[36px] cursor-pointer lg:flex"
    >
      <Image src={self} format="svg" alt={""} loading="lazy" />
      Self-Service
    </span>
  </div>
    <button
      class="px-[24px] py-[8px] border border-[#41454B] rounded-[8px] h-[40px] text-sm font-semibold cursor-pointer"
    >
      Sign in
    </button>
</header>
<div
  class="fixed w-full bg-[#fff] hidden z-100 px-[20px] py-[24px] border-t border-[#F4F4F4]"
  id="menu"
  style="height:calc(100vh - 66px)"
>
  <div class="h-full w-full flex flex-col justify-between">
    <div>
      {
        images.map(({ image, title }) => (
          <span class="items-center px-[12px] py-[8px] rounded-[1000px] text-md font-semibold gap-[10px] h-[40px] cursor-pointer flex mb-2.5 nth-1:bg-[#E2F3FD] nth-2:border-b nth-2:border-[#F4F4F4] nth-2:rounded-b-none">
            <Image src={image} format="svg" alt={""} loading="lazy" />
            {title}
          </span>
        ))
      }
    </div>
    <div>
      <span
        class="items-center px-[12px] py-[8px] rounded-[1000px] text-md font-semibold gap-[10px] h-[40px] cursor-pointer flex mb-2.5"
      >
        <Image src={globe} format="svg" alt={""} loading="lazy" />
        English
      </span>
      <span
        class="items-center px-[12px] py-[8px] rounded-[1000px] text-md font-semibold gap-[10px] h-[40px] cursor-pointer flex mb-2.5"
      >
        <Image src={flag} format="svg" alt={""} loading="lazy" />
        USD
      </span>
    </div>
  </div>
  <div></div>
</div>

<script>
  document.getElementById("nav-bar")?.addEventListener("click", () => {
    const icon = document.getElementById("icon");
    if (icon && icon instanceof HTMLImageElement) {
      if (icon.src.includes('close')) {
        icon.src = 'src/assets/list.svg';
      } else {
        icon.src = 'src/assets/close.svg';
      }
    }
    const navBar = document.getElementById("menu");
    if (navBar) {
      if (navBar.style.display === "none" || navBar.style.display === "") {
        navBar.style.display = "block";

        document.body.style.overflow = "hidden";
      } else {
        navBar.style.display = "none";
        document.body.style.overflow = "auto";
      }
    }
  });
</script>
